html {
    background: #1b2021;
    color: #ffffff;
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 16px;
    line-height: 30px;
}

@media only screen and (min-width: 481px) {
    html {
        font-size: 18px;
        line-height: 28px;
    }
}

body {
    margin: 37px 5%;
}

table {
    font-size: 14px;
}

@media only screen and (min-width: 481px) {
    body {
        margin: 75px auto;
        width: 550px;
    }
}

a {
    color: #70ae98;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #1b2021;
    background: #70ae98;
    text-decoration: none;
}

p,
ul,
.hr {
    margin: 0;
    margin-bottom: 37px;
}

ul {
    padding: 0;
}

ul > li {
    margin-left: 23px;
}

.hr {
    background: transparent;
    border-bottom: 1px solid #444444;
    border-top: 1px solid #111111;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.subtext {
    font-size: 0.875em;
}

div {
  text-align: justify;
  text-justify: inter-word;
}

img {
  border: 2px solid #000000;
}
